<!DOCTYPE html>
<html>
<head>
<title>电箱配置表; InnoDB free: 237568 kB</title>
#parse("modules/sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
				<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.gatewayMac" @keyup.enter="query" placeholder="网关MAC">
				</div>
				<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.deviceBoxMac" @keyup.enter="query" placeholder="电箱MAC">
				</div>
				<button class="layui-btn layui-btn-normal" id="searchSubmit" @click="search"><i class="layui-icon">&#xe615;</i>查 询</button>
				#if($shiro.hasPermission("deviceboxconfig:save"))
	            <button class="layui-btn" @click="add" type="button"><i class="layui-icon">&#xe61f;</i> 新 增</button>
				#end
				#if($shiro.hasPermission("deviceboxconfig:update"))
	            <button class="layui-btn layui-btn-normal" type="button" @click="update"><i class="layui-icon">&#xe642;</i>编辑</button>
				#end
				#if($shiro.hasPermission("deviceboxconfig:delete"))
	            <button class="layui-btn layui-btn-danger" type="button" @click="del"><i class="layui-icon">&#xe640;</i>删除</button>
				#end
				<button class="layui-btn layui-btn-warm" @click="imp" type="button">
					<i class="layui-icon">&#xe642;</i> 批量导入
				</button>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
									<div class="form-group">
			   	<div class="col-sm-2 control-label">网关地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="deviceBoxConfig.gatewayAddress" placeholder="网关地址"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">网关MAC地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="deviceBoxConfig.gatewayMac" placeholder="网关MAC地址"/>
			    </div>
			</div>
								
									<div class="form-group">
			   	<div class="col-sm-2 control-label">电箱地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="deviceBoxConfig.deviceBoxAddress" placeholder="电箱地址"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">电箱MAC地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="deviceBoxConfig.deviceBoxMac" placeholder="电箱MAC地址"/>
			    </div>
			</div>
			
							<div class="form-group">
				<div class="col-sm-2 control-label"></div>
                <button class="layui-btn" type="button" @click="saveOrUpdate" >保存</button>
                <button class="layui-btn layui-btn-warm" type="button" @click="reload" style="margin-left: 30px">返回</button>
			</div>
		</form>
	</div>
</div>

<div id="batchImpLayer" style="display: none;">

	  <div class="">

        <div class="layui-row" align="center" style="margin-top: 30px;">

            	<button type="button" class="layui-btn" id="upload">

                <i class="layui-icon">&#xe67c;</i>选择文件
                
                </button>

        </div>

        <div class="layui-row" align="center" style="margin-top: 30px;">
            <textarea id="result" cols="50" rows="10"></textarea>
        </div>
          <div class="layui-row" align="center" style="margin-top: 10px;">
           <a href="${rc.contextPath}/plugins/电箱出厂配置模板.xls"  style="color: #FFF">下载模板</a>
        </div>

    </div>

</div>

<script src="${rc.contextPath}/js/deviceconfig/deviceboxconfig.js?_${date.systemTime}"></script>
</body>
</html>