<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实时数据</title>
	<link rel="stylesheet" href="${rc.contextPath}/css/app/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="${rc.contextPath}/css/app/dashboard.css">
	<script src="${rc.contextPath}/js/app/jquery-3.3.1.min.js"></script>
	<script src="${rc.contextPath}/js/app/echarts.min.js"></script>
	<script src="${rc.contextPath}/js/app/swiper-3.4.2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="${rc.contextPath}/js/app/dashboard.js"></script>
	<script src="${rc.contextPath}/font/iconfont.js"></script>
</head>

<body>
	<div style="height: 100%;" id="data-wrap" v-cloak>
		<div style="height: 100%">
			<img style="height: 100%" src="${rc.contextPath}/images/mainbg.png" alt="">
		</div>
		<div class="titleone">
			<span class="titleone01" id="fullScreenBtn">上海国际旅游度假区薰衣草节</span>
			<br />
			<span style="font-size: 1.5vw" class="titleone01">安全用电监管平台</span>
		</div>
		<svg class="iconlogo" aria-hidden="true">
			<use xlink:href="#icon-mengxianglogo"></use>
		</svg>
		<div class="data-banner">
			<div class="banner-left">
				<ul class="clearfix">
					<li>
						<div class="li-left">
							<svg class="icon011" aria-hidden="true">
								<use xlink:href="#icon-zongshu"></use>
							</svg>
						</div>
						<div class="li-right">
							<p>电箱总数</p>
							<p class="count" id="boxTotal"></p>
						</div>
					</li>
					<li>
						<div class="li-left">
							<svg class="icon011" aria-hidden="true">
								<use xlink:href="#icon-zaixian"></use>
							</svg>
						</div>
						<div class="li-right">
							<p>在线空开</p>
							<p class="count" id="switchOnlineTotal"></p>
						</div>
					</li>
					<li>
						<div class="li-left">
							<svg class="icon011" aria-hidden="true">
								<use xlink:href="#icon-lixian"></use>
							</svg>
						</div>
						<div class="li-right">
							<p>离线空开</p>
							<p class="count" id="switchLeaveTotal"></p>
						</div>
					</li>
					<li>
						<div class="li-left">
							<svg class="icon011" aria-hidden="true">
								<use xlink:href="#icon-gaojing"></use>
							</svg>
						</div>
						<div class="li-right">
							<p>告警总数</p>
							<p class="count" id="alarmCnt"></p>
						</div>
					</li>
				</ul>
			</div>
			<div class="banner-right">
				<span id="nowDate">2018年5月15日</span>
				<span id="nowXq">星期一</span>
				<span id="nowTime">13:22:20</span>
			</div>

		</div>
		<div class="data-home">
			<svg class="icon013" aria-hidden="true">
				<use xlink:href="#icon-dianxiangjiao"></use>
			</svg>
		</div>
		<div class="line"></div>
		<div class="data-form">
			<div class="min_left">
				<div class="alarms">
					<div class="data-map-title">
						<svg class="icon012" aria-hidden="true">
							<use xlink:href="#icon-gongyinglian"></use>
						</svg>
						<h4>实时告警数据</h4>
					</div>
					<div class="swiper-container swiper-container2">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="option in slidecount">
								<div class="form1">
									<table border='1'>
										<thead>
											<tr>
												<th>电箱-线路</th>
												<th>告警</th>
												<th>时间</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="item in slidecont">
												<td>{{item.deviceBoxName}}-{{item.node}}</td>
												<td>{{item.info}}</td>
												<td>{{item.time}}</td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
				<div class="chart-data">
					<div class="data-map-title">
						<svg class="icon012" aria-hidden="true">
							<use xlink:href="#icon-gongyinglian"></use>
						</svg>
						<h4>日统计用电量 (单位:KWH)</h4>
					</div>
					<div id="chart-data-main" style="height: 80%">
						<div id="chart-data-container" style="height: 100%"></div>
					</div>
				</div>
			</div>
			<div class="map" id="map">
				<div class="data-map-title">
					<svg class="icon012" aria-hidden="true">
						<use xlink:href="#icon-gongyinglian"></use>
					</svg>
					<h4>实时数据平面图</h4>
				</div>
				<div id="map-main" class="map-main" id="map-main">
					<iframe id="mapframe" src="dashboard_map.html" scrolling="no"></iframe>
				</div>
			</div>
			<div class="chart-form">
				<div class="chart-alarm">
					<div class="data-map-title">
						<svg class="icon012" aria-hidden="true">
							<use xlink:href="#icon-gongyinglian"></use>
						</svg>
						<h4>按告警类别统计 (单位:个)</h4>
					</div>
					<div id="chart-alarm-main" style="height: 80%">
						<div id="chart-alarm-container" style="height: 100%"></div>
					</div>
				</div>
				<div class="newdata">
					<div class="data-map-title">
						<svg class="icon012" aria-hidden="true">
							<use xlink:href="#icon-gongyinglian"></use>
						</svg>
						<h4>实时数据</h4>
					</div>
					<div class="swiper-container1 swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide" v-for="option in switchcount">
								<div class="form1">
									<table border='1'>
										<thead>
											<tr>
												<th>电箱-线路</th>
												<th>电压(伏)</th>
												<th>电流(毫安)</th>
												<th>温度(摄氏度)</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="item in switchcont">
												<td>{{item.deviceBoxName}}-{{item.deviceSwitchName}}</td>
												<td>{{item.switchVoltage}}</td>
												<td>{{item.switchElectric}}</td>
												<td>{{item.switchTemperature}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$("#fullScreenBtn").trigger("click");
	$("#fullScreenBtn").click();
	$("#mapframe").width($("#map-main").width());
	$("#mapframe").height($("#map").height()*0.9);
</script>
</html>